body{
  margin: 0;
}

/* #ListadoCarros {
  display: grid;
  min-height: 200px;
  align-items: center;
  align-self: center;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
} */

#conte{
  display: flex;
  justify-content: center;
  text-align: center;
}

.car-image{
  align-items: center;
  width: 200px;
  height: 160px;
}

h1{
  text-align: center;
}

@media (max-width: 768px) {
  #conte #ListadoCarros{
    grid-template-columns: 2fr; /* Una columna en pantallas pequeñas */
  }
}

.img__pizza{
  width: 100%;

}
.conte-prin{
  max-width: 1200px;
  margin: 60px auto auto;
}

@media (min-width: 768px) {
  .contendor-hamburguesa{
    display: flex;
    justify-content: center;
  }

}

.img__hamb{
  display: flex;
  justify-content: center;
}

.ingredientes{
  margin-top: 40px;
  margin-left: 50px;
}

.lista{
  line-height:  2 ;
}

.Order{
  background-color: #12AA4F;
  border: none;
  padding: 15px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 25px;
  font-size: 20px;
  text-transform: uppercase;
}

.Order:hover{
  background-color: green;
}


.conte-footer{
  max-width: 1200px;
  margin: 0 auto;
}

.conte-contactos{
  margin-top: 1300px;
  padding: 40px;
  background-color: black;
}

@media (min-width: 768px) {
  .conte-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .conte-contactos{
    margin: 0;
    margin-top: 340px;
    background-color: black;
  }
}

.contactos,.Politicas, .nosotros{
  color: white;
  
}

.fb{
  width: 40px;
}

.favicon{
  display: flex;
  gap: 20px;
}


@media (min-width: 768px) {
  .contepromo{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 90px;
  }

  .imagen{
    border-radius: 8px;
    background-color: #12AA4F;

  }
  .img{
    border-radius: 8px 8px 0 0;
    width: 300px;
    height: 200px;
  }
  
  .promop{
    margin-top: -10px;
    padding: 10px;
    color: white;
  }

  .span{
    text-align: right;
    color: rgba(255, 0, 0, 0.621);
    margin-top: -50px;
    padding: 0 10px 10px;
    font-weight: bold;
    font-size: 15pt;
  }
}
