#contendor{
  display: flex;
  justify-content: center;
  align-items: center;
}

#detalles{
  text-align: center;
}

h3{
  color: red;
}

.btback button{
  border: none;
  padding: 20px;
  border-radius: 60%;
  color: aliceblue;
  margin-left: 2%;
  background-color: #12AA4F;
}

@media (min-width: 200px) {
  .footer{
    margin-top: -2100px;
  }
  
}

@media (min-width: 768px) {
    .footer{
      margin-top: -300px;
    }
}